<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Python com Flask-MicroFrameWork</title>
    <link rel="stylesheet" type="text/css" href="../static/css/estilo.css" media="screen" />
</head>
<body>
    <h1>Cadastro de Pessoas</h1>
    <form action="/cadastrar" method="post">
        <label>Nome: </label>
        <input type="text" name="nome" id="nome"/><br>
        <label>Idade: </label>
        <input type="number" name="idade"/><br>
        <label>Apelido: </label>
        <input type="text" name="apelido"/><br>
        
        <input type="submit" value="Cadastrar"/><br>
    </form>
</body>
</html>